.our-brands {
	padding: 60px 0;
	background: #0F0F0F;

	// .our-brands__row

	&__row {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
	}
	.section-title {
		&::after {
			margin-bottom: 40px;
		}
	}
	img {
		transition: transform .3s;
		&:hover {
			transform: scale(1.1);
		}
	}
}
.container {
}
.section-title {
}
