@font-face {
	font-family: "Post No Bills Jaffna";
	src: url('../fonts/PostNoBillsJaffna-Bold.ttf') format('truetype');
	font-weight: 700;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap'); // font-family: 'Playfair Display', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); // font-family: 'PT Sans', sans-serif;